
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lennis.lenis-stopped {overflow: hidden;}

.premium-reveal {
    opacity: 0;
    will-change: transform,opacity;
}


.premium-reveal {
    opacity: 0;
    transform: translateY(30px); 
    filter: blur(7px);
    will-change: transform, opacity;
}

.gsap-reveal {
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  will-change: transform, opacity;
}